body {
  margin: 0;
  padding: 0;
  background: url('https://thumbs.dreamstime.com/b/lot-successful-people-sunset-background-lot-successful-people-sunset-background-silhouette-group-196703550.jpg') no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 50%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
}

h1 {
  font-size: 3em;
  color: #fff;
}

p {
  font-size: 1.5em;
  color: #fff;
  margin-top: 20px;
}