
		
		form {
			width: 300px;
			margin: 0 auto;
			padding: 20px;
			border: 1px solid #ccc;
			background-color: #f5f5f5;
			border-radius: 5px;
		}
		
		input[type="email"], input[type="password"] {
			width: 100%;
			padding: 10px;
			margin-bottom: 20px;
			border: none;
			background-color: #eee;
			border-radius: 3px;
            outline: none;
		}
		
		input[type="submit"] {
			background-color: #4CAF50;
			color: white;
			padding: 10px;
			border: none;
			border-radius: 3px;
			cursor: pointer;
            width: 100%;
		}
		
		input[type="submit"]:hover {
			background-color: #45a049;
		}