<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <header>
      <h1>Jobayer Ahmed</h1>
    </header>
    <div class="container">
      <div class="profile-card">
        <img src="https://avatars.githubusercontent.com/u/108192726?v=4" alt="Profile Picture" />
        <h2>About Me</h2>
        <p>
          I'm a passionate web developer. I like to learn new technologies of web every day. I always try to be better than yesterday.
        </p>
        <h2>Contact Info</h2>
        <p>Email: jobayer.ahmed109@gmail.com</p>
        <p>Phone: +880 17340 53116</p>
      </div>
    </div>
     <a href="/">Home page</a>
  </body>
</html>
